{
  "settings": {
    "import/resolver": "webpack"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2015,
    "import/extensions": "on",
    "import/no-unresolved": "on"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "import/resolver": {
      "alias": {
        "map": ["mycomponents", "./app/components"]
      }
    },
    "no-global-assign": [
      "error",
      {
        "exceptions": ["Object"]
      }
    ]
  }
}
