{
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2015,
    "import/extensions": 2,
    "import/no-unresolved": 2
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-global-assign": [
      "error",
      {
        "exceptions": [
          "Object"
        ]
      }
    ]
  }
}